Body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* COMMON */

.debug [class*="col-"]{
  border:1px solid black;
  background-color: chartreuse;
}

/* COLOURS */

.white-text {
  color:#FFF;
}

.black-text {
  color:#031b4f;
}

.grey-text {
  color:#5b6987;
}

.main-colour {
  color: #2285fd;
}

/* NAVBAR */

#navbar {
  background: #FFF;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 1.5rem;
}

#navbar img {
  width:157px;
  position: relative;
  bottom:4px;
  right:17px;
}

#navbar a[role="button"] {
  border: 1px solid #2285fd;
  background-color: transparent;
  padding:5px 10px;
  border-radius: 3px;
  font-size: 1.5rem;
  margin-top: 9px;
  color: #2285fd;
}

 .nav > li > a:focus, .nav > li > a:hover {
  color:#2285fd;
  background-color: transparent;
}

.navbar-btn {
  color:#2285fd;
  background-color:transparent;
  border: none;
  font-size:1.9rem;
  position:relative;
  bottom:2px;
}

#navbar i{
  margin-left: 2px;
}

/* HERO */

#hero {
  background-image: url(../img/hero.svg);
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 70px;
}

.card-hero {
  background-color: #FFF;
  width:100%;
  height:100%;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-control {
  height: 50px;
  font-weight: 500;
  font-size: 2rem;
}

.form {
  margin-top: 20px;
}

.create-account {
  background-color: #579aff;
  width: 100%;
  height: 35px;
  font-weight: 500;
  border:none;
  margin-bottom:15px;
}

.sign-google {
  background-color: #fff;
  font-weight: 500;
  width: 100%;
  height: 35px;
  border:none;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.1);
  text-align: center;
}

.card-hero img {
  float: left;
  position: absolute;
  left:45px;
  width: 25px;
}

.card-title {
  padding-top:15px;
  border-radius:6px;
}

#hero h1 {
  font-size: 6rem;
  font-weight: 700;
}

.hero-container p {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 35px;
  padding-right: 20px;
  text-align: left;
  opacity: 0.8;
}

.card-hero p {
  font-size:1.5rem;
  text-align: center;
  margin-top: 20px;
  padding-bottom:40px;
}

.card-hero a {
  text-decoration: underline;
}

/* MAIN SECTIONS */

/* CUSTOMERS */
#customers {
  background-color: #f3f5f9;
  padding-top:35px;
  padding-bottom:35px;
}

.customers-container {
  max-width: 75%;
}

#customers h4 {
  margin-bottom: 25px;
}

#customers p {
  margin-top: 25px;
  font-weight: 500;
}



/* DEPLOY */
#deploy {
  background-color: #FFF;
  padding-top: 55px;
  padding-bottom: 55px;
}

#deploy h3 {
  font-size: 3.5rem;
}

#deploy .container:nth-child(1) {
  font-size: 2rem;
  font-weight: 400;
}

.deploy-container {
  margin-top: 30px;
}

.deploy-container img {
  margin-top: 10px;
}

.deploy-container ul li {
  display: block;
  text-align: left;
  margin: 5px 0;
  padding :3px 0;
  font-size:1.8rem;
}

.deploy-container ul {
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}

.deploy-car h4 {
  margin-top: 15px;
}

.deploy-container p {
  text-align: left;
  font-size: 1.4rem;
}

.deploy-card {
  margin-bottom: 27px;
}

/* DEVELOPERS */
#developers {
background-color: #f3f5f9;
height: 800px;
}


/* FEATURES */
#features {
  background-color: #FFF;
  height: 400px;
}

/* SERVICE */

#service {
  background-color: #102757;
  height: 400px;
}

/* DEVELOPMENT TEAMS */

#teams {
  background-color: #f3f5f9;
  height:400px;
}

/* GET-STARTED */

#get-started {
  background-color: #015dff;
  height:200px;
}


/* FOOTER */

#footer-nav {
  background-color: #010e28;
  height: 500px;
}
