Body {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* COMMON */

.debug [class*="col-"]{
  border:1px solid black;
  background-color: chartreuse;
}

/* TEXT FEATURES */

.section-title {
  font-size: 3.5rem;
}

.section-sub-title {
  font-size: 2rem;
}

.weight-500 {
  font-weight: 500;
}

.weight-700 {
  font-weight: 700;
}

/* COLOURS */

.white-text {
  color:#FFF;
}

.black-text {
  color:#031b4f;
}

.grey-text {
  color:#5b6987;
}

.main-colour {
  color: #1677ff;
}

.footer-grey-text {
  color:#a9b3c9;
}

/* NAVBAR */

#navbar {
  background: #FFF;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 1.5rem;
}

#navbar img {
  width:157px;
  position: relative;
  bottom:4px;
  right:17px;
}

#navbar a[role="button"] {
  border: 1px solid #2285fd;
  background-color: transparent;
  padding:5px 10px;
  border-radius: 3px;
  font-size: 1.5rem;
  margin-top: 9px;
  color: #2285fd;
}

 .nav > li > a:focus, .nav > li > a:hover {
  color:#2285fd;
  background-color: transparent;
}

.navbar-btn {
  color:#2285fd;
  background-color:transparent;
  border: none;
  font-size:1.9rem;
  position:relative;
  bottom:2px;
}

#navbar i{
  margin-left: 2px;
}

/* HERO */

#hero {
  background-image: url(../img/hero-animation.svg);
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 52px;
}

.card-hero {
  background-color: #FFF;
  width:100%;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-control {
  height: 50px;
  font-weight: 500;
  font-size: 2rem;
}

.form {
  margin-top: 20px;
}

.create-account {
  background-color: #579aff;
  width: 100%;
  height: 35px;
  font-weight: 500;
  border:none;
  margin-bottom:15px;
}

.sign-google {
  background-color: #fff;
  font-weight: 500;
  width: 100%;
  height: 35px;
  border:none;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.1);
  text-align: center;
}

.card-hero img {
  float: left;
  position: absolute;
  left:45px;
  width: 25px;
}

.card-title {
  padding-top:15px;
  border-radius:6px;
}

#hero h1 {
  font-size: 6rem;
  font-weight: 700;
}

.hero-container p {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 35px;
  padding-right: 20px;
  text-align: left;
  opacity: 0.8;
}

.card-hero p {
  font-size:1.5rem;
  text-align: center;
  margin-top: 20px;
  padding-bottom:40px;
}

.card-hero a {
  text-decoration: underline;
}

/* MAIN SECTIONS */

/* CUSTOMERS */
#customers {
  background-color: #f3f5f9;
  padding-top:35px;
  padding-bottom:35px;
}

#customers h4 {
  margin-bottom: 25px;
  font-size: 1.4rem;
}

#customers p {
  margin-top: 25px;
}

.customers-logos img {
  margin: 0 21px;
}

/* DEPLOY */
#deploy {
  background-color: #FFF;
  padding-top: 55px;
  padding-bottom: 55px;
}

.deploy-container {
  margin-top: 30px;
}

#deploy .container > p {
  padding:0 26px;
}

.deploy-container img, #features img {
  margin-top: 10px;
  margin-bottom: 5px;
}

.deploy-container ul li {
  display: block;
  text-align: left;
  margin: 10px 0;
  padding :3px 0;
  font-size:1.8rem;
}

.deploy-container ul {
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}

.deploy-container p {
  text-align: left;
  font-size: 1.4rem;
}

.deploy-card {
  margin-bottom: 27px;
}

/* DEVELOPERS */
#developers {
background-color: #f3f5f9;
padding-top: 50px;
padding-bottom: 50px;
}

#developers h3 {
  margin-bottom: 30px;
}

#developers img {
  width:60%;
}

#developers .row {
  margin-top:70px;
}

#developers .chevron {
  font-size: 3.5rem;
  padding:0 20px;
}

#developers .row, #teams .row {
  margin-bottom: 25px;
}

.round-buttons {
  width:100%;
  margin:auto;
}

.dots {
  height: 10px;
  width: 10px;
  border: 1px solid #1677ff;
  border-radius: 50%;
  display:inline-block;
  cursor: pointer;
}

.round-buttons :first-child {
  background-color: #1677ff;
}

/* FEATURES */
#features {
  background-color: #FFF;
  padding-top:45px;
  padding-bottom:45px;

}

#features .row {
  margin-top:45px;
  margin-bottom:45px;
}

/* SERVICE */

#service {
  background: linear-gradient(0deg, rgba(0,34,157,1) 0%, rgba(0,66,187,1) 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}

.service-container ul li {
  display: block;
  text-align: left;
}

.service-container ul {
  margin-right: 46px;
  margin-top:20px;
}

.service-container span {
  display: inline-block;
}

.service-container li > span:first-child {
  width: 10%;
  padding: 5px 5px 5px 15px;
  font-size: 1.2rem;
}

.service-container li > span:nth-child(2) {
  width: 65%;
  padding-left: 30px;
  font-size: 1.2rem;
  opacity: 0.7;

}

.service-container li > a {
  font-size: 1.3rem;
  margin-left:10px;
  color: #00e3df;

}

.service-container li {
  border-bottom: 1px solid #FFF;
  padding:5px 0;
}

.service-container li:last-child {
  border:none;
  padding:5px 0;
}

/* DEVELOPMENT TEAMS */

#teams {
  background-color: #f3f5f9;
  padding-top:60px;
  padding-bottom:60px;
}

.teams-label {
  background-color: #FFF;
  width:50%;
  height:100%;
  border-radius: 6px;
  padding:15px 5px;
  display: inline-block;
}

.teams-label img {
  width: 60%;
}

#teams .row {
  margin-top:70px;
}

#teams .chevron {
  position: relative;
  font-size: 3.5rem;
  bottom: 110px;
  padding:0 20px;
}

#teams img {
  margin: 20px 0;
}

#teams h5 {
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 700;
}

.teams-label :last-child {
  margin-top: 30px;
}

/* GET-STARTED */

#get-started {
  background: linear-gradient(0deg, rgba(0,34,157,1) 0%, rgba(0,66,187,1) 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

#get-started a {
  font-size:1.6rem;
  padding:8px 10px;
  border:none;
  border-radius: 4px;
  margin-top: 20px;
}


/* FOOTER */

#footer-nav {
  background-color: #031c4e;
  padding-top:40px;
  padding-bottom: 50px;
}

.footer-container p {
  margin-bottom: 2px;
  font-weight: 600;
}

#footer-nav img {
  width: 45px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#footer-nav i {
  font-size: 2.2rem;
  margin-right: 8px;
  margin-top:10px;
}

#footer-nav h4 {
  margin-top:30px;
}

#footer-nav ul {
  margin-top:30px;
  padding-left: 0;
}

#footer-nav ul li {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

/* CHAT WIDGET SECTION */

.chat-icon img {
  width: 90px;
  position: fixed;
  cursor:pointer;
  bottom:10px;
  right:10px;
  z-index: 1;
  opacity: 0.9;
  animation: fadeInRight;
  animation-duration: 1.6s;
}

.chat-message {
  height: 70px;
  width: 170px;
  border-radius: 8px;
  position: fixed;
  bottom:20px;
  right:110px;
  z-index: 1;
  opacity: 0.9;
  animation: fadeIn;
  animation-duration: 4s;
  background-color: #FFF;
  box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.1);
}

.chat-message p {
  position: relative;
  top:15px;
  text-align: center;
  font-weight: 500;
}

/* MEDIA QUERY */

/* DESKTOP */
@media screen and (min-width:993px) and (max-width: 1199px) {

  .service-container li > span:first-child {
    width:11%;
  }

  .service-container li > span:nth-child(2) {
    width: 76%;
  }

  #hero h1 {
    font-size:4.8rem;
  }

  .card-hero h2 {
    font-size: 2.5rem;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .section-sub-title {
    font-size: 1.7rem;
  }

}

@media screen and (min-width:768px) and (max-width: 992px) {

  #hero h1 {
    font-size:5rem;
  }
  .service-container li > span:first-child {
    width:11%;
  }

  .service-container li > span:nth-child(2) {
    width: 72%;
  }

}

/* iPAD PORTRAIT */
@media screen and (max-width: 768px) {

  .service-container li > span:first-child {
    width:9%;
  }

  .service-container li > span:nth-child(2) {
    width: 61%;
  }

  #hero h1 {
    font-size:4.8rem;
  }

  .card-hero h2 {
    font-size: 2.5rem;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .section-sub-title {
    font-size: 1.7rem;
  }

  .chat-message {
    display: none;
  }

  .chat-icon img {
    width: 75px;
  }
}

/* MOBILE */
@media screen and (min-width:300px) and (max-width: 430px) {

  #hero h1 {
    font-size:3.5rem;
    text-align: center;
  }

  .hero-container p {
    font-size: 1.8rem;
    text-align: center;
    padding-right: 0;
  }

  .card-hero h2 {
    font-size: 2.5rem;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .section-sub-title {
    font-size: 1.7rem;
  }

  .customers-container {
    max-width: 75%;
  }

  .teams-label {
    width:90%;
  }

  .service-container li > span:first-child {
    width:5%;
    font-size: 9px;
  }

  .service-container li > span:nth-child(2) {
    width: 59%;
    font-size: 10px;
  }

  .service-container li > a {
    font-size: 10px;
  }

  .fa-chevron-left, .fa-chevron-right {
    visibility: hidden;
  }

  #developers img {
  width: 83%;
  }

  .chat-message {
    display: none;
  }

  .chat-icon img {
    width: 65px;
  }
}
